name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  linux-build:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:7.2
        ports:
          - 63790:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      matrix:
        go-version: [ '1.21' ]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
          cache: true
        id: go

      - name: GO Env
        run: |
          go version
          go env

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Lint
        run: |
          go vet $(go list ./...)
          go mod tidy
          if ! test -z "$(git status --porcelain)"; then
            echo "Please run 'go mod tidy'"
            exit 1
          fi

      - name: Build
        run: go build -v ./...

      # Test Unit
      - name: Test
        run: go test -v ./...

      - name: Test and create coverage file
        run: |
          # 根目录生成 coverage 文件
          # go test -race -coverprofile=coverage.txt -covermode=atomic ./...
          # tests 目录生成 coverage 文件
          cd tests
          go test -coverprofile=coverage.out -covermode=atomic ./...
          cp coverage.out ..
          cd -

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{secrets.CODECOV_TOKEN}}

      # Test Analytics
      - name: Install dependencies
        run: |
          go install github.com/jstemmer/go-junit-report@v1.0.0
          go install gotest.tools/gotestsum@v1.12.0

      - name: Run tests and generate coverage report
        run: |
          # gotestsum --junitfile junit.xml
          cd tests
          gotestsum --junitfile ../junit.xml
          cd -

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
